*CFM.png
*.dict
/Part_I/Entrainment_Analysis/Figures_New
/Part_II/5_Report/DHS2013_PartII.pdf
/Part_II/0_Images/Script_Figures
/Part_II/2_Data/FED


*.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
